body,
div {
    margin: 0px;
    padding: 0;
  
    overflow: hidden
}

body {
    min-height: 100vh;
    background-position: 0px -30vh;
    background-repeat: no-repeat;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 122, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}
#body_g{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}




html{
    background-color: rgb(247, 248, 250);
}


#header {
    width: 100%;
    height: 53px;

    display: flex;
    justify-content: space-between;

}


#header_right {
    font-size: 109px;
    display: flex;
    justify-content: center;
    align-items: center;



}

#connect {

   border-radius: 15px;
   border: 2px rgb(28 3 15);
   
   background-color: rgb(253 234 241);
    height: 40px;
    width: auto;
    margin-right: 10px;
}



.myButton {
	box-shadow: 0px 1px 0px 0px #d36767;
    background: linear-gradient(to bottom, #d6adc4 5%, rgb(248 228 239) 100%);
	background-color:#33bdef;
	border-radius:25px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#141212;
	font-family:Times New Roman;
	font-size:22px;
	font-weight:bold;
	font-style:italic;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px -1px 7px #5b6178;


    background-color: rgb(253, 234, 241);
    border: 1px solid rgb(253, 234, 241);
    color: rgb(255, 0, 122);

}
.myButton:hover {
    background: linear-gradient(to bottom, #d782b2 5%, rgb(232, 189, 213) 100%);

}
.myButton:active {
	position:relative;
	top:1px;
}


#center{

    display: flex;

    justify-content: center;
    align-items: center;

 
   
    
}


#center_1{
    max-width: 427px;
    width: 100%;
    
    border-radius: 30px;
    padding: 1rem;
  

    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
   


  
}


#ps_1{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-bottom: 10px;

}

#ldZkXa {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 3rem;
    flex: 1 0 auto;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(136, 141, 155);
    font-size: 20px;
}


.txt_outinput{

   
    width: 100%;
    height: 89.2px;
    border: 1px solid rgb(214 215 217);
    border-radius: 20px;
    




}



#ETH:hover{
   background-color: rgb(237 238 242) !important;
}
#max_z:hover{
    border: 1px solid rgb(248 19 104) !important;
}
#inputtxt{

    
    color: rgb(0, 0, 0);
   
   
    outline: none;
    border: none;
   
  

    font-size: 18px;
    
    overflow: hidden;
  

}

.txt_outinput_button{
    font-size: 20px;
    margin-top: 10px;
    padding: 18px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 0, 122);
    color: white;
}





#fool{
    height: 10vh;
    background-color: #33bdef;
}